.Form {
    border: none;
    border-bottom: 2px #ef7b45 solid;
  }
  
  .Button {
    border: none;
    background-color: #CDEDF6;
    color: #5eb1bf;
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
  }
  
  .Button:hover {
    cursor: pointer;
    background-color: #5eb1bf;
    color: #D84727;
  }