.Trip {
    background-color: #CDEDF6;
    border: 1px solid #5EB1BF;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
  }
  
  .Trip figure,
  h5 {
    margin: 0 0;
  }
  
  .Heart {
    color: #ef7b45;
  }
  
  .Heart:hover {
    color: #d84727;
  }
  
  .HeartOutline:hover {
    color: #5eb1bf;
  }