  .App {
    font-family: "Ruda", sans-serif;
    /* hex colour #f6f4f5 is called cultured */
    background-color: #cdedf6;
    min-height: 100vh;
  }

  .Main {
    padding-top: 81px;
  }

* {
    box-sizing: border-box;
  }
  
  a {
    color: #5eb1bf;
    transition: color ease-in-out 0.2s;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  a:hover i {
    color: #d84727;
    transition: color ease-in-out 0.2s;
  }
  
  i {
    color: #5eb1bf;
    font-size: 1.5rem;
    padding: 6px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.2s;
    color: #d84727;
  }

  figure {
    text-align: center;
    display: inline-block;
  }
  
  /* scrollbar */
  *::-webkit-scrollbar {
    width: 5px;
  }
  *::-webkit-scrollbar-track {
    background: #cdedf6;
  }
  *::-webkit-scrollbar-thumb {
    background: #888;
  }
  *::-webkit-scrollbar-thumb:hover {
    background: #d84727;
  }